<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from bookweb.user
    </select>
    <select id="queryUserByID" resultType="User">
        select * from bookweb.user where UserID=#{userID}
    </select>
    <select id="isExist" resultType="User">
        select * from bookweb.user where UserID=#{userID} and password=#{password}
    </select>
</mapper>